@font-face {
  font-family: "VWHeadBold";
  src: url("../fonts/vw/VWHead-Bold.otf") format("opentype");
}

@font-face {
  font-family: "VWHeadRegular";
  src: url("../fonts/vw/VWHead-Regular.otf") format("opentype");
}

@font-face{
  font-family: "VWTextBold";
  src: url("../fonts/vw/VWText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "VWTextRegular";
  src: url("../fonts/vw/VWText-Regular.otf") format("opentype");
}


:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

model-viewer {
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
/*  background: linear-gradient(0deg, rgba(188, 188, 196, 1) 0%, rgba(60, 62, 70, 1) 40%, rgba(31,32,36,1) 140%);*/
  background: linear-gradient(0deg, rgba(96,145,195,1) 0%, rgba(31,47,87,1) 40%, rgba(31,47,87,1) 140%);
  background-size: 30%, contain;
}


.progress-bar {
  display: block;
  text-align: center;
  width: 50%; /* Desktop : 15px*/
  height: 100%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate3d(-50%, -63%, 0);
  border-radius: 25px;
  /* box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6); */
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(96,145,195,1);
  width: 0;
  height: 100%;
  /* padding: 8px 10px; */
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.update-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fafafa;
  font-family: 'VWTextRegular';
  font-size: 11px;
}

#ar-button {
  display: none;
  background-image: url('../images/icon-markerless.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #31C4C4;
  position: absolute;
  left: 20px;
  /* transform: translateX(-50%); */
  white-space: nowrap;
  bottom: 150px;
  padding: 0px 10px 0px 30px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color:#101010;
  line-height: 28px;
  border-radius: 12px;
  border: 0px solid #DADCE0;
  z-index: 9999;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

#exitAR {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
  border-radius: 50%;
}

model-viewer[ar-status="object-placed"] > .c-button-wrapper.c-button-scale {
  display: flex;
}

model-viewer[ar-status="not-presenting"] > .c-button-wrapper.c-button-scale {
  display: none;
}

.slider {
  width: 50%;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(90deg) translate(-60%, 60px);
  background: #d3d3d3;
  outline: none;
  border-radius: 24px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 24px;
  width: 30px;
  height: 30px;
  background: #BC9B71;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 24px;
  width: 30px;
  height: 30px;
  background: #BC9B71;
  cursor: pointer;
}

.c-button-wrapper, .c-button-wrapper.c-button-scale {
  position: absolute;
  bottom: 0;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: calc(100% - 40px);
  padding: 20px;
}

.c-button-wrapper .c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  padding: 14px 28px;
  color: #fafafa;
  font-family: 'VWTextRegular';
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.c-button-wrapper .c-button a {
  color: #fafafa;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 7%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 90%), url('../images/bg-viola-cluster-desktop.webp');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'VWTextRegular', Halvetica, sans-serif;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9;
}

header .c-button {
  padding: 30px 20px;
  z-index: 9;
}

#exploreBtn {
  background-color: #565B3D;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .c-logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

header .c-logo img {
  width: 120px;
}

.wrapper .c-nav {
  width: calc(100% - 40px);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 45%;
  transform: translateY(-50%);
  padding: 20px;
}

.wrapper .c-nav svg {
  cursor: pointer;
}

.content-wrapper {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.content-wrapper .info-categories {
  display: flex;
  flex-direction: column;
  color: #FAFAFA;
  padding: 20px;
  margin-bottom: 10px;
}

.content-wrapper .info-categories .c-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-bottom: 10px; */
}

.content-wrapper .info-categories .c-title span {
  font-family: 'VWTextRegular';
  font-size: 16px;
}

.content-wrapper .info-categories .c-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.content-wrapper .info-categories .c-heading h1 {
  margin: 0;
  padding: 0;
  font-family: 'VWTextRegular';
  font-size: 36px;
}

.content-wrapper .info-categories .c-heading .howTo {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
/*  background: rgba(188, 155, 114, 1);*/
  background: rgba(31,47,87,1);
  text-decoration: none;
  color: #FAFAFA;
  font-family: 'VWHeadRegular';
  margin-bottom: 10px;
}

.content-wrapper .info-categories .c-title .c-heading .howTo span {
  position: absolute;
  top: 25%;
}

.content-wrapper .info-categories .c-info p {
  width: 100%;
  height: 60px;
  overflow-y: auto;
  font-family: 'VWTextRegular';
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0;
}

.content-wrapper .info-categories .c-button {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'VWTextRegular';
  margin-top: 10px;
}

.content-wrapper .info-categories .c-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.20);
  color: #FAFAFA;
  text-decoration: none;
}

.content-wrapper .info-categories .c-button span {
  font-size: 11px;
}

.bg-ivory{
  background: rgba(188, 155, 114, 1) !important;
}

.bg-bluevw {
  background: #1f2f57 !important;
}

.bg-green{
  background: #565B3D !important;
}

.copyright {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'VWTextRegular';
  font-size: 11px;
}

.dialog {
  width: calc(100% - 50px);
  height: 100vh;
  position: absolute;
  z-index: 99;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 25px;
}

.dialog .dialog-container {
  width: 100%;
  height: calc(100vh - 200px);
  padding: 20px;
  border-radius: 14px;
  background: rgba(96,145,195,1);
  color: #FAFAFA;
  font-family: 'VWTextRegular';
} 

.dialog .dialog-container .dialog-title h1 {
  font-family: 'VWTextRegular';
  font-size: 24px;
  text-align: center;
}

.dialog .dialog-container .dialog-content {
  width: 100%;
  height: calc(100% - 110px);
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dialog .dialog-container .dialog-content .tutorial {
  font-size: 12px;
  text-align: center;
}

.dialog .dialog-container .dialog-content .tutorial .tutorial-item {
  padding: 0 10px;
}

.dialog .dialog-container .dialog-content .tutorial .tutorial-item h2 {
  font-family: 'VWTextRegular';
  font-size: 14px;
}

.dialog .dialog-container .dialog-content .tutorial .tutorial-item ol {
  text-align: left;
  padding-inline-start: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialog .dialog-container .dialog-close-btn,
.dialog .dialog-container .dialog-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31,47,87,1);
  border-radius: 12px;
  color: #FAFAFA;
  text-decoration: none;
  height: 47px;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step .f-t-step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step .f-t-step svg {
  width: 50px;
  height: auto;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step .s-t-step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 5px;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step .s-t-step .title {
  font-family: 'VWHeadRegular';
  font-size: 14px;
}

.dialog.dialog-next .tutorial .tutorial-item .t-step .s-t-step small {
  font-size: 12px !important;
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.button img {
  height: 20px;
}

.button.markerless {
  background-color: #31C4C4;
  color: #1E1E1E;
}

.button.markerbase {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  color: #111;
}

.button.markerbase:hover {
  background-color: rgba(255, 255, 255, 1);
}

.hidden {
  display: none !important;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

/* Media query for iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 7%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 90%), url(../images/bg-viola-cluster-desktop.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
  }

  .content-wrapper .info-categories {
    width: 50%;
  }

  .content-wrapper .info-categories .c-info p {
    height: 100%;
  }

  .content-wrapper .info-categories .c-heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-wrapper .info-categories .c-heading .howTo {
    position: relative;
  }

  .dialog {
    justify-content: center;
  }

  .dialog .dialog-container {
    width: 50%;
    height: 45%;
  }

  .slider {
    width: 20%;
    transform: rotateZ(90deg) translate(-60%, 45px);
  }
}

/* Media query for desktop */
@media only screen and (min-width: 1023px) {
  .progress-bar {
    width: 15%;
  }
  .wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 7%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 90%), url(../images/bg-viola-cluster-desktop.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
  }

  .content-wrapper.c-viewer {
    width: 25%;
    bottom: 0;
/*    top: 50%;*/
    right: 0;
/*    transform: translateY(-50%);*/
  }

  .content-wrapper .info-categories {
    width: 30%;
    gap: 0;
  }

  .content-wrapper.c-viewer .info-categories {
    width: 100%;
  }

  .content-wrapper .info-categories .c-info p {
    height: 100%;
  }

  .content-wrapper .info-categories .c-heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-wrapper .info-categories .c-heading .howTo {
    position: relative;
  }

  .dialog {
    justify-content: center;
  }

  .dialog .dialog-container {
    width: 30%;
    height: 45%;
  }

  .slider {
    width: 20%;
    transform: rotateZ(90deg) translate(-60%, 80px);
  }
}