@font-face {
  font-family: "VWTextRegular";
  src: url("../fonts/vw/VWText-Regular.otf") format("opentype");
}

body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; text-align: center; font-family: system-ui; font-size: 12px; }
#unity-logo { width: 154px; height: 154px; background: url('stickar-logo.png') no-repeat center; background-size: contain; }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#progress {
    position: relative;
	margin: 30px 0; 
	text-align: center; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    justify-content: center;
}
#progress-loader {
	position: absolute;
}
#progress-number {
	position: absolute;
	z-index: 99;
}

#confirmUrlDiv {
    width: 100%;
/*    background: rgba(86, 91, 61, 1);*/
}

#confirmUrlDiv .confirmContainer {
    position:relative; 
    padding:10px; 
    width: 300px; 
    display:flex; 
    flex-direction: column; 
    align-items: center;
    font-family: 'VWTextRegular';
    gap: 10px;
    background-color: #6091C3;
    border-radius: 20px;
}

#confirmUrlText {
    text-align: center;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #6091C3;
    border-radius: 10px;
    color: #fafafa;
    padding: 20px;
}

#confirmButton {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#confirmButton button {
    display: block;
    width: 50%;
    padding: 10px 0;
    background: #1F2F57;
    color: #fafafa;
    font-family: 'VWTextRegular';
    border: 0;
    border-radius: 10px;
}